body {
    text-align: center
}

div {
  display: none;
  position: relative;
}

p {
  width: 505px;
  height: auto;
  font-size: 40px;
  font-family: 'Noto Sans', 'Yantramanav', 'Arimo', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  position: absolute;
  top: 50%;
  transform: translate(-251px, 150px);
  z-index: 2;
  display: inline;
}

canvas {
  position: relative;
  z-index: 1;
}

button {
  font-size: 13px;
  font-weight: lighter;
  font-family: 'Noto Sans', 'Yantramanav', 'Arimo', sans-serif;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(-40px, 380px);
  border-radius: 10px;
  margin-top: 1.2em;
  box-shadow: 2px 2px white;
  z-index: 2;
}
